<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Editar</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
    
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="../../index.html">Página principal <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>    
        
        <div class="py-5 text-center">
            <h1>Eliminar empresa</h1>
            <a href="listar.html"> <button class="btn btn-default"> < Regresar a la lista de empresas</button></a>
        </div>
    
    <div id="divDelete">
        <h4>Confirmar eliminación permanente de la siguiente empresa:</h4>
        <div v-if="this.status != NULL" :class="['alert', status == 'OK' ? 'alert-success' : 'alert-danger']">{{message}}
                
            </div>
        <input type="hidden" v-model="id" id = "id">
        <h3>{{nombre}}</h3>
        <input class="btn btn-danger btn-lg btn-block" type="button" value="Eliminar" @click="deleteItem()">
        <hr class="mb-4">
        
        
        
    </div>
    </div>
</body>
<script src="delete.js"></script>
</html>