<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Editar</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div id="divUpdate" class="container">
        
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="../../index.html">Página principal <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>    
        
        <div class="py-5 text-center">
            <h1>Editar empresa</h1>
            <a href="listar.html"> <button class="btn btn-default"> < Regresar a la lista de empresas</button></a>
        </div>
        <form id="frmEdit" action="" method="post">
            <div v-if="this.status != NULL" :class="['alert', status == 'OK' ? 'alert-success' : 'alert-danger']">{{message}}
                
            </div>
            <input id = "id" type="hidden" v-model="id">
            <input id = "activo" type="hidden" v-model="activo">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="nombre">Nombre de la empresa:</label>
                    <input class="form-control" id = "nombre" type="text" v-model="nombre">
                </div>
                <hr class="my-5 pt-5 text-muted text-center text-small">
                
                <input class="button btn-primary btn-lg btn-block" type="button" value="Guardar" @click="update()">
        </div>    
        </form>
        <hr class="mb-4">
        
    </div>
</body>
<script src="update.js"></script>
</html>