<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class='container'>
        <div id="divLogin">
            <div id = "cabecera" class="py-5 text-center">
        
                <h1>Ingreso al sistema</h1>
                
                <p>Para realizar pruebas intente con usuario: "admin" y contraseña "admin"</p>
                
            </div>
            <hr class="mb-4">
                
                
            <div v-if="this.estado != NULL" :class="['alert', estado == 'OK' ? 'alert-success' : 'alert-danger']">{{message}}
                <div v-if="this.estado == 'OK'">  <a  href="index.php">Continuar</a> </div>
            </div>
            
            <form class ="from_signin" data-bitwarden-watching ="1" method="POST">
                
                <label  for="user">Usuario:</label>
                <input class="form-control" type="text" v-model="user" id="user" @keyup.enter="validate()">
                <br>
                <label  for="password">Password:</label>
                <input class="form-control" type="password" v-model="password" id="password" @keyup.enter="validate()">
                <hr class="mb-4">
                <div class="mb-3">
                    <input class="btn btn-primary btn-lg btn-block" type="button" value="Ingresar" @click = "validate()" >
                </div>
            </form>
            
        </div>
        </div>    
        <script type="text/javascript" src="login.js"></script>
    </body>
</html>
